[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stefano Mura [STELIX PippoX3] (STELIX)
[access "refs/for/refs/*"]
	read = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	push = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	label-Code-Review = -2..+2 group user/Stefano Mura [STELIX PippoX3] (STELIX)
	label-Verified = -1..+1 group user/Stefano Mura [STELIX PippoX3] (STELIX)
	rebase = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	removeReviewer = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	submit = group user/Stefano Mura [STELIX PippoX3] (STELIX)
[access "refs/heads/*"]
	read = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	create = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	push = +force group user/Stefano Mura [STELIX PippoX3] (STELIX)
	pushMerge = group user/Stefano Mura [STELIX PippoX3] (STELIX)
[access "refs/tags/*"]
	push = +force group user/Stefano Mura [STELIX PippoX3] (STELIX)
	pushTag = group user/Stefano Mura [STELIX PippoX3] (STELIX)
	pushSignedTag = group user/Stefano Mura [STELIX PippoX3] (STELIX)
